#eps_user_email:hover, #eps_user_email:focus {
box-shadow:0 0 5px 5px #dddddd inset !important;
-moz-box-shadow:0 0 5px 5px #dddddd inset !important;
-webkit-box-shadow:0 0 5px 5px #dddddd inset !important;
border: 1px solid #808080 !important;
}