#eps_background_overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	z-index:99997;
	-moz-opacity: 0.95;
	opacity:.95;
	filter: alpha(opacity=95);
}

#eps_popup_front {
	position: fixed;
	z-index:99998;
	word-wrap: initial;
	padding: 10px;


	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
	
	box-shadow:0 0 150px 15px #eeeeee inset; 
	-moz-box-shadow:0 0 150px 15px #eeeeee inset; 
	-webkit-box-shadow:0 0 150px 15px #eeeeee inset;
}

.eps_pop_close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -5%;
	right: -2.5%;
	background-image: url('images/close.png');
	background-position: center left;
	background-repeat: no-repeat;
	z-index: 99999;
	cursor: pointer;
}

.epslinkshortcode {
cursor : pointer;
text-transform: none;
}

/* .eps_pop_close:hover {
	background-image: url('images/close_hover.png');
} */

#eps_popup_inner {
/* display: none; */
max-height: 100%;
overflow: hidden;
position: relative;
}

#headline {
padding: 0 !important;
}

/* #middle_area {
} */

#email_form_container {
/* display: none; */
position: absolute;
width: 100%;
left: 0; 
bottom: 10%;
}

#tm_container {
/* display: none; */
position: absolute;
width: auto;
}

#timer_container {
/* width: 50%; */
position: absolute;
height: 25px;
/* background: #990000; */
z-index: 99999;
top:-35px;
left:25%;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
line-height: 1.7;
font-family: Arial;
font-size: 15px;
font-weight: normal;
padding: 0 10px;
/* color: #ffffff; */
text-align: center;
}

.tiny_timer {
display: inline-block;
font-weight: bold;
/* color: #ffffff !important; */
}

#result_message {
display: none;
text-align: center;
font-size: 20px;
font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
font-weight: bold;
top: 40%;
position: relative;
}

#result_message, .success_message, .subscriber_exist, .other_error{
z-index: 9999;
}
.success_message {
display: none;
color: #660000;
}

.subscriber_exist {
display: none;
color: #999000;
}

.other_error {
display: none;
color: #990000;
}

.clear {
clear: both;
}

#eps_popup_front input {
	-o-transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s !important;
	-webkit-transition: -webkit-box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s !important;
	-moz-transition: -moz-box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s !important;
	transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s !important;
}

button.try_again{
width:125px  !important;
height:30px  !important;
padding: 5px !important;
display: block !important;
margin: 0 auto !important;
font-family: Arial !important;
text-align:center !important;
text-transform: none !important;
border-radius: 10px !important;
-moz-border-radius: 10px !important;
-webkit-border-radius: 10px !important;
font-family: Arial !important;
color: #ffffff !important;
font-size: 18px !important;
font-weight: bold !important;
text-shadow: 1px 1px 1px #5b5b5b !important;
background: #e5e5e5 !important;
background: -moz-linear-gradient(top, #e5e5e5 5%, #aaaaaa 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #e5e5e5), color-stop(100%, #aaaaaa )) !important;
background: -webkit-linear-gradient(top, #e5e5e5 5%, #aaaaaa 100%) !important;
background: -o-linear-gradient(top, #e5e5e5 5%, #aaaaaa 100%) !important;
background: linear-gradient(to bottom, #e5e5e5 5%, #aaaaaa 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e5e5e5", endColorstr="#aaaaaa",GradientType=0 ) !important;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#aaaaaa',GradientType=0 )" !important;
}
button.try_again:hover {
background: -moz-linear-gradient(top, #aaaaaa 5%, #e5e5e5 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #aaaaaa), color-stop(100%, #e5e5e5 )) !important;
background: -webkit-linear-gradient(top, #aaaaaa 5%, #e5e5e5 100%) !important;
background: -o-linear-gradient(top, #aaaaaa 5%, #e5e5e5 100%) !important;
background: linear-gradient(to bottom, #aaaaaa 5%, #e5e5e5 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#aaaaaa", endColorstr="#e5e5e5",GradientType=0 ) !important;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#e5e5e5',GradientType=0 )" !important;
}
button.try_again:active {
position:relative;
top:1px;
}
