.lists{
font-family: Times New Roman !important;
margin: 10px auto 0 15px !important;
}

.lists ul {
margin: 0 !important;
padding: 0 !important;
list-style-type: none !important;
}

.lists ul li {
line-height: 1.3 !important;
font-size: 20px !important;
margin: 0 !important;
padding: 0 !important;
}

.li_text {
background-image: url("../../css/images/ok.png") !important;
background-repeat:  no-repeat !important;
background-position: center left;
-webkit-background-size: 20px !important;
-moz-background-size: 20px !important;
background-size: 20px !important;
color: #000000;
display: inline-block !important;
padding-left: 30px !important;
width: 100% !important;
height: 20px !important;
line-height: 1.1 !important;
font-weight: normal !important;
}