#short_desc span{
 align-content: initial !important;
 align-items: initial !important;
 align-self: initial !important;
 alignment-adjust: initial !important;
 alignment-baseline: initial !important;
 anchor-point: initial !important;
 azimuth: initial !important;
 backface-visibility: initial !important;
 baseline-shift: initial !important;
 binding: initial !important;
 bleed: initial !important;
 bookmark-label: initial !important;
 bookmark-level: initial !important;
 bookmark-state: initial !important;
 bottom: initial !important;
 box-sizing: initial !important;
 break-after: initial !important;
 break-before: initial !important;
 break-inside: initial !important;
 caption-side: initial !important;
 chains: initial !important;
 clip: initial !important;
 color-interpolation-filters: initial !important;
 -moz-column-count: initial !important;
 -webkit-column-count: initial !important;
 column-count: initial !important;
 column-fill: initial !important;
 -moz-column-gap: initial !important;
 -webkit-column-gap: initial !important;
 column-gap: initial !important;
 -moz-column-rule: initial !important;
 -webkit-column-rule: initial !important;
 column-rule: initial !important;
 -moz-column-rule-color: initial !important;
 -webkit-column-rule-color: initial !important;
 column-rule-color: initial !important;
 -moz-column-rule-style: initial !important;
 -webkit-column-rule-style: initial !important;
 column-rule-style: initial !important;
 -moz-column-rule-width: initial !important;
 -webkit-column-rule-width: initial !important;
 column-rule-width: initial !important;
 -webkit-column-span: initial !important;
 column-span: initial !important;
 -moz-column-width: initial !important;
 -webkit-column-width: initial !important;
 column-width: initial !important;
 -webkit-columns: initial !important;
 columns: initial !important;
 contain: initial !important;
 content: initial !important;
 counter-increment: initial !important;
 counter-reset: initial !important;
 counter-set: initial !important;
 crop: initial !important;
 cue: initial !important;
 cue-after: initial !important;
 cue-before: initial !important;
 cursor: initial !important;
 cursor: auto !important;
 direction: initial !important;
 dominant-baseline: initial !important;
 elevation: initial !important;
 empty-cells: initial !important;
 filter: initial !important;
 flex: initial !important;
 flex-basis: initial !important;
 flex-direction: initial !important;
 flex-flow: initial !important;
 flex-grow: initial !important;
 flex-shrink: initial !important;
 flex-wrap: initial !important;
 float-offset: initial !important;
 flood-color: initial !important;
 flood-opacity: initial !important;
 flow-from: initial !important;
 flow-into: initial !important;
 font-feature-settings: initial !important;
 font-kerning: initial !important;
 font-language-override: initial !important;
 font-size-adjust: initial !important;
 font-stretch: initial !important;
 font-style: initial !important;
 font-synthesis: initial !important;
 font-variant: initial !important;
 font-variant-alternates: initial !important;
 font-variant-caps: initial !important;
 font-variant-east-asian: initial !important;
 font-variant-ligatures: initial !important;
 font-variant-numeric: initial !important;
 font-variant-position: initial !important;
 height: initial !important;
 -moz-hyphens: initial !important;
 -webkit-hyphens: initial !important;
 hyphens: initial !important;
 icon: initial !important;
 initial-letters: initial !important;
 inline-box-align: initial !important;
 justify-content: initial !important;
 justify-items: initial !important;
 justify-self: initial !important;
 left: initial !important;
 letter-spacing: initial !important;
 letter-spacing: 0.2px !important;
 lighting-color: initial !important;
 marker-offset: initial !important;
 marker-side: initial !important;
 marks: initial !important;
 mask: initial !important;
 max-height: initial !important;
 max-height: 50px !important;
 max-lines: initial !important;
 max-width: initial !important;
 min-height: initial !important;
 min-width: initial !important;
 move-to: initial !important;
 object-fit: initial !important;
 object-position: initial !important;
 opacity: initial !important;
 order: initial !important;
 orphans: initial !important;
 outline: initial !important;
 outline-color: initial !important;
 outline-offset: initial !important;
 outline-style: initial !important;
 outline-width: initial !important;
 overflow: initial !important;
 overflow: auto !important;
 overflow-wrap: initial !important;
 overflow-x: initial !important;
 overflow-y: initial !important;
 perspective: initial !important;
 perspective-origin: initial !important;
 pitch: initial !important;
 pitch-range: initial !important;
 play-during: initial !important;
 position: initial !important;
 presentation-level: initial !important;
 quotes: initial !important;
 region-fragment: initial !important;
 resize: initial !important;
 rest: initial !important;
 rest-after: initial !important;
 rest-before: initial !important;
 richness: initial !important;
 right: initial !important;
 size: initial !important;
 string-set: initial !important;
 text-align: initial !important;
 text-align: justify !important;
 text-align-last: initial !important;
 text-combine-upright: initial !important;
 text-decoration: initial !important;
 text-decoration-color: initial !important;
 text-decoration-line: initial !important;
 text-decoration-skip: initial !important;
 text-decoration-style: initial !important;
 text-emphasis: initial !important;
 text-emphasis-color: initial !important;
 text-emphasis-position: initial !important;
 text-emphasis-style: initial !important;
 text-height: initial !important;
 text-indent: initial !important;
 text-justify: initial !important;
 text-orientation: initial !important;
 -ms-text-overflow: initial !important;
 -o-text-overflow: initial !important;
 text-overflow: initial !important;
 text-space-collapse: initial !important;
 text-transform: initial !important;
 text-underline-position: initial !important;
 text-wrap: initial !important;
 top: initial !important;
 unicode-bidi: initial !important;
 vertical-align: initial !important;
 white-space: initial !important;
 widows: initial !important;
 width: initial !important;
 word-break: initial !important;
 word-spacing: initial !important;
 word-wrap: initial !important;
 word-wrap: break-word !important;
 wrap-flow: initial !important;
 wrap-through: initial !important;
 writing-mode: initial !important;
 z-index: initial !important;
 background: none !important;
 border: none !important;
 clear: none !important;
 display: block !important;
 float: none !important;
 visibility: visible !important;
 font-family: Arial !important;
 font-size: 10pt/*  !important */;
 font-weight: normal !important;
 line-height: 1.2 !important;
 padding: 5px 0 !important;
 color: #cd8d8d !important;
}

