.epsfront_image {
margin: 7px 0 0 0 !important;
float: left !important;
width: 35% !important;
}

.eps_img {
max-width:100% !important;
max-height:200px !important;
float: left !important;
margin: 0 auto !important;
display: block !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
}

